@model Taoxue.Training.Services.SchoolEntity

@{
    ViewData["Title"] = "创建机构";
}

<form asp-action="Create">
    <h1 class="form-box-title">@ViewData["Title"]</h1>
    <hr />
    <div class="form-box-fixed-container">
        <div class="form-box">
            <div class="row">
                <div class="col-6">
                    <div class="label"><span class="font-red">*</span> 机构编码</div>
                    <div class="control">
                        <input type="text" asp-for="Code" isvalid="yes" checkexpession="NotNull" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="describe font-red">&nbsp;&nbsp;注意：机构编码创建后不能修改</div>
                </div>
                <div class="col-12">
                    <div class="label"><span class="font-red">*</span> 机构名称</div>
                    <div class="control">
                        <input type="text" asp-for="Name" isvalid="yes" checkexpession="NotNull" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-box-fixed-foot row">
        <div class="col-6">
            <label>&nbsp;</label>
        </div>
        <div class="col-6 content-right">
            <input type="submit" value="提交" class="btn btn-blue" />
            <input id="btn-closeSelf" type="button" value="关闭" class="btn btn-red btn-close" />
        </div>
    </div>
</form>

@section scripts {
    <script src="~/lib/validator/validator.js"></script>
    <script>
        myUI.initForm({pageType: "pop"});
    </script>
}
